<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.AdminDao">


    <delete id="deletstudent">
        delete from student where StuName=#{stuname} and School=#{school}
    </delete>

    <update id="alteradmin" parameterType="com.example.demo.dao.AdminDao">
        UPDATE school
        SET SchoolName=#{SchoolName},Tel=#{Tel},adminname=#{adminname},Password=#{Password}
        WHERE Schoolid=#{Schoolid}
    </update>

    <select id="findstudent" parameterType="com.example.demo.dao.AdminDao"
            resultType="com.example.demo.dao.domain.AdminDomain">
        select School,StuName,Tel,Profession from student WHERE School=#{school}
    </select>

    <insert id="uploadinfo" >
        insert into infor
        (Title,Conent,InforTime,Author)
        values (#{title},#{conent},#{inforTime},#{author})
    </insert>

</mapper>

