<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.StudentDao">
    <select id="showall" parameterType="com.example.demo.dao.StudentDao"
            resultType="com.example.demo.dao.domain.StudentDomain">
        select * from student
    </select>

    <select id="findByStudentName" parameterType="com.example.demo.dao.StudentDao"
            resultType="com.example.demo.dao.domain.StudentDomain">
        select StuName,Password from student where StuName=#{stuname}
    </select>

    <insert id="studentsave" >
        insert into student
        (StuId,School,StuName,Tel,Profession,Password)
        values (#{StuId},#{School},#{StuName},#{Tel},#{Profession},#{Password})
    </insert>

    <!-- <insert id="savemovie" >
         insert  into movie
         (movieId,moviename,protagonist,kind,showtime,urlload,grade,coverurl)
         values (#{movieId},#{moviename},#{protagonist},#{kind},#{showtime},#{urlload},#{grade},#{coverurl})
     </insert>-->

    <delete id="deletename">
        delete from student where StuName=#{stuname} and School=#{school}
    </delete>

</mapper>

